@import "tailwindcss";

@theme {

  --animate-neonTextGlow: neonTextGlow 1.5s ease-in-out infinite alternate;

 
  @keyframes neonTextGlow {
    0%, 100% {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0f0;
    }
    50% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0f0;
    }
  }
}